html, body {
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

iframe{
    width: 93vw;
    height: 93vh;
    border: none;
    display: block;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    right: 0;
}

.barras{
    display: flex;
    flex-direction: row;
}

.barraLateral{
    margin: 0;
    width: 7vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.barraSuperior{
    width: 93vw;
    height: 7vh;
    background-color: rgb(48, 48, 48);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-superior{
    background-color: rgb(25, 25, 25);
    border: none;
    border-radius: 5px;
    height: 40px;
    margin-left: 5px;
}
.user{
    margin-right: 10px;
}
.img-superior-nivel{
    width: 400px;
    margin-left: 10px;
}
.img-superior-user{
    width: 160px;
    margin-right: 20px;
}

.btn-lateral{
    background-color: rgb(48, 48, 48);
    border: 1px solid black;
    height: 91.3px;
    cursor: pointer;
}
.btn-lateral:nth-child(4), .btn-lateral:nth-child(5) { 
    background-color: rgb(128, 16, 32);
}


.img-lateral-logo{
    width: 85px;
}
.img-lateral-navegacion{
    width: 95px;
}
.img-lateral-alarmas{
    width: 85px;
}
.img-lateral-alarmasCriticas{
    width: 76px;
}
.img-lateral-interfonia{
    width: 90px;
}
.img-lateral-axiviewer{
    width: 75px;
}
.img-lateral-axipms{
    width: 70px;
}
.img-lateral-control{
    width: 66px;
}
.img-lateral-cerrarSesion{
    width: 95px;
}
.img-lateral-salir{
    width: 55px;
}

.panelNavegacion{
    position: fixed;
    left: 7vw;
    top: 7vh;
    width: 400px;
    height: 93vh;
    background: rgb(21, 21, 21);
    color: white;
    border-left: 4px solid rgb(165, 207, 52);
    display: none;
    overflow-y: auto;
    z-index: 9999;
}

.panelNavegacion.activo{
    display:block;
}

.headerNav{
    padding:10px;
    border-bottom:1px solid #333;
    background-color: rgb(80, 80, 80);
    margin-top: 3px;
    margin-bottom: 3px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.headerNav input{
    color: rgb(209, 209, 208);
    font-style: italic;
    background-color: transparent;
    border: none;
    outline: none;
}
.headerNav input:focus{
    border: none;
    background-color: transparent;
    color: rgb(209, 209, 208);
}
.headerNav input::placeholder{
    color: rgb(209, 209, 208);
}

.img-buscador{
    width: 25px;
    margin-right: 25px;
}
.img-buscador-recargar{
    width: 25px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 10px;
}

.navTitulo{
    display:flex;
    align-items:center;
    padding:5px 11px;
    cursor:pointer;
    width:100%;
    box-sizing:border-box;
    min-height:50px;
    flex-shrink:0;
}
.navTitulo span{
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(210, 210, 209);
}

.navTitulo:hover{
    background:#1f1f1f;
}

.nivel2{
    padding-left:40px;
}

.nivel3{
    padding-left:60px;
}

.nivel4{
    padding-left:80px;
}

.contador{
    background:rgb(165, 207, 52);
    color:#111;
    width:40px;
    height:40px;
    border-radius:4px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    margin-left: auto;
}

.contenido{
    display: none;
}
.contenido.abierto{
    display: block;
}

.desplegable{
    user-select: none;
}

.camaras{
    display:flex;
    flex-direction:column;
    padding-left:100px;
    gap:10px;
    margin-top:10px;
}

.camaras button{
    background:none;
    border:none;
    color:rgb(210, 210, 209);
    text-align:left;
    cursor:pointer;
    font-size:15px;
    font-family: Arial, Helvetica, sans-serif;
}

.camaras button:hover{
    color:white;
}

.img-plano{
    width: 20px;
    margin-right: 15px;
}